[submodule "frontend"]
	path = frontend
	url = https://github.com/cesarDanielRodrigues/nlwConnectReact.git
[submodule "backend"]
	path = backend
	url = https://github.com/cesarDanielRodrigues/nlwConnectNode.git
